{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
Inbox
{% endblock title %}

{% block content %}
<div class="content">
   <h1>Входящие сообщения</h1>
   <hr>
   {% if messages_list %}
       <table>
           {% for message in messages_list %}
           <tr>
               <td align="left">{{ message.sender }}</td>
               <td align="left"><a href="{% url 'message_detail' message.pk %}">
                   {% if not message.isread %}[Новое]{% endif %}
                   {{ message.text|truncatewords:8 }}</a></td>
               <td align="left">{{ message.post }}</td>
               <td align="left">{{ message.datetime|date:'d M Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Сообщений нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
</div>

<!-- The sidebar -->
<div class="sidebar">
   <br/>
   <h3>Фильтры</h3>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Применить" />
   </form>
</div>

{% endblock content %}